body {
    font-family: 'Lato', sans-serif;
    background-color: #EEF36A; 
}

.header {
    background-color: #231651; 
    color: #FFFFFF; 
    padding: 16px 0; 
}

.header h1 {
    font-family: 'Teko', sans-serif;
    font-size: 4vw; /* Responsive font size based on viewport width */
}

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.nav-links {
    display: flex; 
    justify-content: center; 
    flex-grow: 1; 
}

.nav-item {
    margin: 0 16px;
    font-size: 1.2em; 
    color: #FFFFFF; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.nav-item:hover {
    color: #4DCCBD;
}

.btn-search {
    padding: 12px 24px; 
    font-size: 1.5em; 
    background-color: #4DCCBD;
    color: #231651;
    text-transform: uppercase; 
    border: none; 
    border-radius: 8px;
    transition: background-color 0.3s;
}

.btn-search:hover {
    background-color: #070410; 
    color: #FFFFFF; 
}

.content-container {
    max-width: 900px;
    margin: auto;
    padding: 48px 32px;
}

.movie-box {
    background-color: #FFFFFF;
    border-radius: 8px; 
    padding: 16px; 
    margin-bottom: 24px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.movie-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.movie-box h2 {
    font-size: 1.5em; 
    margin-bottom: 8px; 
}

.movie-box p {
    font-size: 1em; 
    color: #555; 
}